section .hidden {
    display: none;
}

section.starter-section {
    display: block;
visibility: visible;
}

.advance-button {
    display: none
}

.restart-quiz {
    display: none;
}

p.correct {
display: none;
}

p.wrong {
display: none;
}

.question-section {
   display: visible; 
}

.nav-status-bar {
    display: visible;
}